.treehuntmap {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 80vh;
  border-radius: 10px;
  background-color: transparent;
}

.treehunt__map {
  margin-top: 30px;
  height: 80vh;
}

.treehuntmap__button-close {
  position: absolute;
  top: 0px;
  right: 0;
  background-color: #fff;
  border: #fff;
}

.treehuntmap__button-close:hover {
  cursor: pointer;
  opacity: 0.7;
}
