.badge {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.badge__button-home {
  position: absolute;
  top: 0;
  right: 5px;
}

.badge__button {
  padding: 10px;
  background-color: transparent;
  border: solid 0.5px #000;
}

.badge__list {
  margin: 30px 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.badge__list-item {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.badge__list-item:hove {
  opacity: 0.8;
  cursor: pointer;
}

.badge__list-out {
  width: 100px;
}

.badge__list-in {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.badge__list-name {
  position: absolute;
  bottom: 18px;
  width: 100%;
  color: #fff;
  text-align: center;
}

@media (min-width: 768px) {
  .badge__list {
    margin: 30px;
  }
  .badge__button-home {
    position: absolute;
    top: 0;
    right: 30px;
  }
}
