.codeenter {
  height: 100vh;
  margin: 0;
  background-color: rgb(19, 155, 19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.codeenter__cap {
  font-weight: 800;
}
.codeenter__title {
  font-weight: 300;
  color: #fff;
  margin: 0 10%;
}

.coddenter__button-img {
  width: 20px;
}

.coddenter__button-img-l {
  width: 30px;
}

.coddenter__button-tip {
  background-color: transparent;
  width: min-content;
  border: none;
}

.codeenter__button-tip:hover {
  cursor: pointer;
  background-color: #000;
}

.codeenter__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 10px;
  margin: 0 10%;
}

.codeenter__input {
  color: #000;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: none;
  font-size: 20px;
  text-align: center;
}

.codeenter__error {
  color: #fff;
  background-color: #000;
  font-size: 20px;
  padding: 8px;
  margin: 0;
  position: relative;
}

.codeenter__arrow-up {
  position: absolute;
  top: -10px;
  left: calc(50% - 5px);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000;
}

.codeenter__button {
  margin: 30px;
  width: 100px;
  padding: 10px;
  font-size: 20px;
  border: #fff solid 0.8px;
  color: #fff;
  background-color: transparent;
}

.codeenter__button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  border: rgba(0, 0, 0, 0.7) solid 0.8px;
}
