.codeenter {
  height: 100vh;
  margin: 0;
  background-color: rgb(19, 155, 19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.codeenter__cap {
  font-weight: 800;
}
.codeenter__title {
  font-weight: 300;
  color: #fff;
  margin: 0 10%;
}

.coddenter__button-img {
  width: 30px;
}

.coddenter__button-tip {
  background-color: transparent;
  width: min-content;
  border: none;
}

.codeenter__button-tip:hover {
  cursor: pointer;
  background-color: #000;
}

.codeenter__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 10px;
  margin: 0 10%;
}

.codeenter__input {
  color: #000;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: none;
  font-size: 20px;
  text-align: center;
}
