.championmap {
  position: relative;
  margin: 0;
  border-radius: 10px;
  background-color: transparent;
}

.championmap__map {
  margin-top: 25px;
  height: calc(100vh - 25px);
}

.championmap__button {
  position: absolute;
  top: -25px;
  left: 0;
  background-color: #fff;
  border: #fff;
}

.championmap__button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.championmap__button-img {
  width: 25px;
}
