.championcard {
  display: flex;
}

.championcard__title {
  font: 30px;
  margin: 0;
  padding: 0;
}

.championcard__container {
  display: flex;
}

.championcard__img {
  width: 150px;
  height: 200px;
  object-fit: contain;
}

.championcard__info-box {
  margin: 0 10px;
  padding: 0;
}

.championcard__info {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 900;
}

.championcard__info span {
  font-weight: 500;
}

.championcard__point-compare {
  margin: 0;
  width: 100px;
  height: 10px;
  border-radius: 10px;
  border: solid #000 0.5px;
  position: relative;
}

.championcard__point-comare-in {
  position: absolute;
  top: 0;
  left: 0;
  background-color: brown;
  height: 10px;
  border-radius: 10px;
}

.championcard__compare {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.championcard__compare-tree {
  margin-left: 5px;
  background-color: rgb(9, 175, 9);
  width: 15px;
}

.championcard__compare-kid {
  background-image: url('../../images/kid.PNG');
  height: 20px;
  width: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: -3px;
}
