.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1599940824399-b87987ceb72a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dHJlZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  text-align: center;
}

.home__logo-box {
  margin: 100px 0 0;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  max-width: 300px;
}

.home__logo {
  margin: 20% 0 0;
  width: 80%;
  max-width: 300px;
}

.home__text {
  font-size: 20px;
  color: #fff;
  padding: 0;
  margin: 0;
}

.home__button-box {
  width: 100%;
  margin: auto auto 0;
}

.home__button {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  color: #fff;
}

.home__button-1 {
  background-color: #d85831;
}
.home__button-2 {
  background-color: #06885d;
}
.home__button-3 {
  background-color: #a5661f;
}
