.tips {
  padding: 30px 30px;
  position: absolute;
  top: 50px;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
}

.tips__button-close {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
}

.tips__button-close:hover {
  cursor: pointer;
  opacity: 0.7;
}

.tips__button-img {
  width: 20px;
}
